body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}


h1 {
  text-align: center;
    font-size: 36px; 
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px; 
}
.conatiner {
  width: 50%;
  margin: auto;
  border-radius: 20px;
  padding: 40px;
}
.flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.left-div {
  width: 50%;
  margin: auto; 
}
.img-div {
  text-align: center;
}
img {
  border-radius: 100%;
  padding: 20px;
  width: 150px;
  height: 150px;
  border: 1px solid black;
}
.block-span {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px; 
  font-size: 14px; 
  color: #333; 
  background-color: #f0f0f0; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
button {
  background-color: black; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  padding: 12px 24px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
}
.button-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: darksalmon; 
}